{% extends 'layout/header.html.twig' %}
{% block layout_header_bottom %}
    {{ parent() }}

    {% set currency = oView.getActCurrency() %}
    {% set formattedPrice = format_price(productPrice, { currency: currency }) %}
    
    {% set buttonText = translate({ ident: 'OXACPPB_BUTTONTEXT'}) %}

    <div>
        <span>{{ translate({ ident: 'OXACPPB_PROMOTIONMESSAGE', args: { productTitle, formattedPrice } }) }}</span>
        <a class='btn btn-primary' href='{{ productUrl }}' title='{{ buttonText }}'>{{ buttonText }}</a>
    </div>
{% endblock %}
